.box{
    width: auto;
    margin: 0 auto;
    padding: 2vw 5vw;
    background-color: #333347;
}

.box .formControl{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    color: white;
}

.box .formControl input{
    /* width: 10vw; */
    font-size: 1.5rem;
    background-color: transparent;
    border: #FF00BF 1px solid;
    color: white;
    
}

.box .formControl input::placeholder{
    font-size: 1.2rem;
    padding: 20px;
    color: white;
}

.required{
    color: red;
}

.btn{
    color: #333347;
    padding: 1vw 4vw;
    font-size: 1rem;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    background-color: #FF00BF;
    color: white;
    padding: 1vw 4vw;
    font-size: 1rem;
    transform: scale(1.1);
}